// Элементы управления созданием новых и
// выбора существующиъ наборов классов.

#class-set-controll {
	display: inline-block;
	border: 1px solid #74a90c;
	border-radius: 3px;
	background-color: #E6F2CC;
	padding: 10px;

	> div {
		display: inline-block;
	}
}

#class-set-list {
	width: 177px;
	height: 21px;
}