// Элементы управления созданием новых классов.

#class-controll {
	display: inline-block;
	border: 1px solid  #F1870DFF;
	border-radius: 3px;
	background-color: #FFF1C8 ;
	padding: 10px;
	
	> div {
		display: inline-block;
	}
}